<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17D47</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>visc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ViscosityConnectionIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>ConnectionBundle</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>visz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ViscosityConnectionIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZippedConnectionBundle</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ovpn</string>
				<string>conf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ViscosityConnectionIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>OpenVPNConfigScript</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cxvpn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ViscosityConnectionIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>CalyptixVPNConnectionBundle</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>viscosityicons</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>IconBundle</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Viscosity</string>
	<key>CFBundleIconFile</key>
	<string>Viscosity.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.viscosityvpn.Viscosity</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Viscosity</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.7</string>
	<key>CFBundleSignature</key>
	<string>VISC</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>viscosity</string>
				<string>viscosityserial</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1431</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9C40b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17C76</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0920</string>
	<key>DTXcodeBuild</key>
	<string>9C40b</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSUIElement</key>
	<string>1</string>
	<key>OSAScriptingDefinition</key>
	<string>Viscosity.sdef</string>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.sparklabs.ViscosityHelper</key>
		<string>anchor apple generic and identifier "com.sparklabs.ViscosityHelper" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = "34XR7GXFPX")</string>
	</dict>
	<key>SUBetaFeedURL</key>
	<string>https://swupdate.sparklabs.com/appcast/mac/beta/viscosity/</string>
	<key>SUFeedURL</key>
	<string>https://swupdate.sparklabs.com/appcast/mac/release/viscosity/</string>
	<key>SUPublicDSAKeyFile</key>
	<string>update.pem</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
